@model IEnumerable<awareHouse.Models.MappingViewModel>

@{
    ViewBag.Title = "RowDetail";
}

<h2>Asile Detail</h2>


    @using (Html.BeginForm())

    {
        @Html.AntiForgeryToken()

        <table class="table form-group">
            <tr>
                <th>
                    Bay number
                </th>
                <th>
                    Shelves
                </th>
                <th>
                    Pallet spaces
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.bays.bayNumber)
                    </td>
                    <td>
                        @Html.EditorFor(Model => item.stupidHolderTHingy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => item.stupidHolderTHingy, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(Model => item.anotherHolderThingy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => item.anotherHolderThingy, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
